:root{
  --font-text: 'Quicksand', sans-serif;
  --fuccia-claro: rgb(218, 75, 123);
  --fuccia-oscuro: rgb(199, 23, 82);
  --celeste-claro: rgb(78, 233, 233);
  --celeste-oscuro: rgb(25, 148, 148);
  --verde-claro: rgb(63, 235, 63);
  --verde-oscuro: rgb(33, 131, 33);
  --color-fondo: rgb(252,252,252);
  --title-size: 3rem;
  --subtitle-size: 2.5rem;
  --text-size: 2rem;
}
body {
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
}
main{
  max-width: 100%;
  max-height: 100%;
}
section.viewWelcome{
  width: 100%;
  height: 100vh;
}
.viewWelcome .containerWelcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-fondo);
  width: 100%;
  height: 100vh;
}
.containerWelcome .div-title h1{
  font-size: var(--title-size);
  font-weight: bold;
  margin: 0;
}
.containerWelcome figure{
  margin: 0;
}
.containerWelcome figure img{
  width: 35vw;
  height: 30vh;
}
.containerWelcome .div-piedra-papel-tijera{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.containerWelcome .div-piedra-papel-tijera p{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.containerWelcome .div-piedra-papel-tijera p:nth-child(1){
  color: var(--fuccia-claro);
}
.containerWelcome .div-piedra-papel-tijera p:nth-child(2){
  color: var(--celeste-claro);
}
.containerWelcome .div-piedra-papel-tijera p:nth-child(3){
  color: var(--verde-claro);
}
.containerWelcome form{
  width: 50%;
  display: flex;
  justify-content: center;
}
.containerWelcome form .input-text{
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  outline-style: none;
  font-size: 1rem;
  border: 2px solid var(--fuccia-claro);
  margin-right: 20px;
}
.containerWelcome form .input-submit{
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 7px;
  background-image: linear-gradient(45deg, var(--fuccia-oscuro), var(--celeste-oscuro), var(--verde-oscuro));
  border-radius: 7px;
  border: 2px solid var(--fuccia-claro);
  margin-left: 20px;
}

/*Estilos para viewGame*/
section.viewGame{
  width: 100%;
  height: 100vh;
}
.viewGame .containerGame{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}
.containerGame .div-header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerGame .div-header h2{
  font-size: var(--subtitle-size);
  font-weight: bold;
  margin: 0;
}
.containerGame .div-header button{
  margin-right: 0;
  width: 60px;
  height: 30px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  border: 2px solid var(--fuccia-oscuro);
  background-image: linear-gradient(45deg, var(--fuccia-oscuro), var(--celeste-oscuro), var(--verde-oscuro));
  position: absolute;
  right: 20px;
  top: 7px;
  cursor: pointer;
}
.containerGame .title-player{
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.containerGame .title-player span{
  font-size: 1.2rem;
  font-weight: bold;
}
.containerGame figure{
  display: flex;
  margin: 0;
  width: 70%;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid powderblue;
}
.containerGame figure img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.containerGame div.box-result{
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}
div.box-result p{
  font-size: var(--text-size);
  margin-right: 20px;
}
div.box-result img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-left: 20px;
}
.containerGame p{
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.containerGame div.box-btn{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.containerGame div.box-btn button{
  border-radius: 60px;
  width: 110px;
  height: 110px;
  cursor: pointer;
}
.containerGame div.box-btn button:nth-child(1){
  background-color: var(--fuccia-claro);
  border: 7px solid var(--fuccia-oscuro);
}
.containerGame div.box-btn button:nth-child(2){
  background-color: var(--celeste-claro);
  border: 7px solid var(--celeste-oscuro);
}
.containerGame div.box-btn button:nth-child(3){
  background-color: var(--verde-claro);
  border: 7px solid var(--verde-oscuro);
}
.containerGame div.box-btn button img{
  width: 80px;
  height: 80px;
}
.containerGame div.title-btn{
  display: flex;
  width: 65%;
  justify-content: space-around;
}
.containerGame div.title-btn span{
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(65, 63, 63);
  padding: 5px;
  border-radius: 7px;
}
/*Estilos para esconde vistas*/
.show{
  display:block;
}
.hidden{
  display: none;
}

/*Responsive desing*/
@media only screen and (max-width:600px) {
  .containerWelcome .div-title h1{
    font-size: 2.2rem;
  }
  .containerWelcome figure img{
    width: 100%;
    height: 90%;
  }
  .containerWelcome .div-piedra-papel-tijera{
    width: 100%;
  }
  .containerWelcome form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .containerWelcome form .input-text{
    width: 300px;
    padding: 7px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .containerWelcome form .input-submit{
    width: 320px;
    margin-left: 0;
    margin-top: 10px;
  }
}